<div class="font-sans">
  <app-navbar></app-navbar>
  <app-card></app-card>
  <app-widget [value]="title">
    <div class="header">Widget Header</div>
    <div>Widget Section</div>
  </app-widget>
</div>
<!-- <button (click)="loadCardComponent()">Load</button> -->

<!-- {{ loggerService.getLoggerState() }} -->
<button class="bg-slate-300 p-2 m-2" (click)="updateLogger()">fetch logger</button>

<button (click)="onChange()">Update Style</button>
<button (click)="revertStyle()">Revert Style</button>
